@import url('components.css');

#company-list {
  border-left: 1px solid var(--outline-color);
  border-right: 1px solid var(--outline-color);
  padding: 16px;

  flex: .4;

  display: flex;
  flex-direction: column;
  gap: 16px;

  min-width: 270px;
  max-width: 400px;

  overflow-y: auto;

  .company-card-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .company-card {
      padding: 12px;
      display: flex;
      gap: 8px;

      cursor: pointer;

      border-radius: 8px;

      img {
        width: 36px;
        height: 36px;
        border-radius: 8px;
      }

      .company-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .company-name {
          font-size: 14px;
          font-weight: 700;
        }

        .company-category, .company-location {
          font-size: 12px;
          font-weight: 400;
          color: #3F3F46;
        }
      }

      &.active, &:hover {
        background-color: rgba(var(--primary-color-rgb), .75);
      }

      p.date {
        font-size: 12px;
        font-weight: 400;
        color: #3F3F46;
        font-style: italic;
      }
    }
  }

  @media (max-width: 480px) {
    flex: auto;
    max-width: none;
    border: none;
  }
}

#company-details {
  flex: 1;

  min-width: 400px;

  @media (max-width: 480px) {
    display: none;
  }
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  .search-input {
    color: gray;
    border-radius: 4px;
    border: 1px solid var(--outline-color);
    width: 100%;
    padding: 8px;
    padding-left: 30px;

    &::placeholder {
      position: absolute;
      left: 30px;
    }

    &:focus {
      outline: none;
    }
  }

  & .search-icon {
    position: absolute;
    left: 10px;

    width: 16px;
    height: 16px;

    color: var(--outline-color);

    stroke: var(--outline-color);
  }
}