.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #E4E4E7;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 5px;
}

/* Logo Section */
.logo-section {
    padding: 20px;
    border-bottom: 1px solid #E4E4E7;  /* Tambah garis bawah */
    margin-bottom: 5px;
}

.logo {
    color: #4CAF50;
    font-size: 24px;
    font-weight: bold;
}

/* Menu Sections */
.menu-section {
    padding: 0 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E4E4E7;  /* Tambah garis bawah */
}

.menu-section h3 {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    padding: 0 12px;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border-radius: 6px;
}

.menu-item:hover {
    background-color: #20b20c;
    
}
.menu-item:hover span {
    color: #FFFFFF;
}


.menu-item span {
    flex: 1;
}

.menu-shortcut {
    margin-left:50px;
    color: #999;
    font-size: 12px;
}

/* User Profile Section */
.user-profile-section {
    margin-top: auto;
    margin-bottom: 10px;
}

.user-profile {
    background-color: #fff;           /* Warna background subtle */
    border: 1px solid #E4E4E7;              /* Border tipis */
    border-radius: 8px;                 /* Round corner */
    padding: 16px;                       /* Padding dalam */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;                           /* Jarak antar elemen */
}
.user-profile > div{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 12px;
}

/* User Avatar */
.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;                  /* Avatar bulat */
    object-fit: cover;                   /* Menjaga aspek ratio gambar */
}

/* User Info */
.user-info {
    text-align: left;
}

.user-name {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 4px;
}

.user-email {
    font-size: 12px;
    color: #666;
}

/* Logout Button */
.logout-btn {
    width: 100%;
    padding: 8px 16px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;                  /* Round corner untuk button */
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;           /* Smooth transition untuk hover */
}

.logout-btn:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
}

/* Active Menu Item */
.menu-item.active {
    background-color: #e8f5e9;
    color: #4CAF50;
}

.menu-icon {
    width: 20px;  /* sesuaikan ukuran */
    height: 20px;
    margin-right: 12px;
    object-fit: contain; /* menjaga aspek ratio gambar */
}

/* Untuk item yang aktif/terpilih */
/* .menu-item.active {
    background-color: #4CAF50;
    color: white;
} */